<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation">
          <a routerLink="/"
             [routerLinkActiveOptions]="{exact: true}"
             routerLinkActive="active">Home</a></li>
        <li role="presentation">
          <a routerLink="/servers"
             routerLinkActive="active">Servers</a></li>
        <li role="presentation">
          <a [routerLink]="['/users']"
             routerLinkActive="active">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--  Loads currently selected Route    -->
      <router-outlet></router-outlet>
    </div>
  </div>
<!--  <div class="row">-->
<!--    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
<!--      <app-home></app-home>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
<!--      <app-users></app-users>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">-->
<!--      <app-servers></app-servers>-->
<!--    </div>-->
<!--  </div>-->
</div>
