<!--<p> Server with ID {{ serverId }} is {{ getServerStatus() }}</p>-->
<p [ngStyle]="{backgroundColor: getColor()}"
   [ngClass]="{online: server.status ==='online'}">
   Server with ID={{ server.id }}, name={{ server.name }} is {{ getServerStatus() }}
</p>
