<label>Server Name</label>
<!-- Event binding -->
<!--<input-->
<!--  type="text"-->
<!--  class="form-control"-->
<!--  (input)="onUpdateServerName($event)"-->
<!--&gt;-->

<!--Two way data binding -->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName"
>
<p>Server name: {{ serverName }}</p>
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"> Add Server
</button>
<p>Here are some servers:</p>
<app-server *ngFor="let server of servers"
            [server]=server>

</app-server>

<!--ng IF -->
<p *ngIf="serverCreated">{{serverCreationStatus}}</p>
<!--ng IF ELSE-->
<p *ngIf="serverCreated; else noServer">{{serverCreationStatus}}</p>
<ng-template #noServer>
  <p>No server was created!</p>
</ng-template>


