<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn-primary"
        (click)="onlyOdd = !onlyOdd"> Only show {{ onlyOdd ? 'even'  : 'odd' }} numbers</button>
      <br><br>
      <div *ngIf="onlyOdd">
        <ul class="list-group">
          <li class="list-group-item"
              [ngClass]="{odd: true}"
              *ngFor="let number of oddNumbers">
            {{ number }}
          </li>
        </ul>
      </div>
      <div *ngIf="!onlyOdd">
        <ul class="list-group">
          <li class="list-group-item"
              [ngStyle]="{ backgroundColor: 'red'}"
              *ngFor="let number of evenNumbers">
            {{ number }}
          </li>
        </ul>
      </div>
      <p appBasicHighlight>Style me</p>
      <p appBetterHighlight [defaultColor]="'cyan'" [highlightColor]="'orange'">Style me</p>
    </div>
    <h3>Testing custom structural directive</h3>
    <div *appUnless="onlyOdd">
      <ul class="list-group">
        <li class="list-group-item"
            [ngStyle]="{ backgroundColor: 'red'}"
            *ngFor="let number of evenNumbers">
          {{ number }}
        </li>
      </ul>
    </div>
  </div>
</div>
