<button
  class="btn btn-primary"
  (click)="onToggleDisplay()"> Display Details </button>

<p *ngIf="displayDetails">Secret Password = Tuna</p>
You've pressed it {{ this.clickedTimestamp.length }} times

<ul>
  <li *ngFor="let entry of clickedTimestamp; let i = index"
      [ngStyle]="{backgroundColor: i >= 5 ? 'blue' : 'transparent'}"
      [ngClass]="{'white-text': i >= 5}" >
    {{ entry }}
  </li>

</ul>
