<label>Username</label>
<input
  type="text"
  class="form-control"
  [(ngModel)]="username"
>
<button
  class="btn btn-primary"
  [disabled]="emptyUsername()"
  (click)="onResetUsernameInput()"
  >
  Reset
</button>
<p>Username: {{ username }}</p>
