<div class="container">

<!-- Example on publishing an event from the cockpit component to render changes in this component.
     When an event occurs in app-cockpit, an eventEmitter obj is created to let this component know of the change.
-->
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (aliasBlueprintCreated)="onBlueprintAdded($event)">
  </app-cockpit>

  <hr>
  <div class="row">
    <div class="col-xs-12">
<!-- Example on passing data from here to the server-element component. We are assigning the
     server-component.element property -->
      <app-server-element *ngFor="let serverElement of serverElements"
                          [srvElement]="serverElement" >
      </app-server-element>
    </div>
  </div>
</div>
