<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3> Hello from AppComponent! </h3>
      <label>Testing ngModel=name data binding</label>
      <input type="text" [(ngModel)]="name">
      <p>{{ name }}</p>
      <hr>
      <h3>Testing App-Servers Component</h3>
      <app-servers></app-servers>
      <hr>
      <h3>Testing Success/Warning Alert Components</h3>
      <app-success-alert></app-success-alert>
      <app-warning-alert></app-warning-alert>
      <hr>
      <h3>Testing User Component</h3>
      <app-user></app-user>
      <h3>Testing Details Component</h3>
      <app-detail></app-detail>
      <hr>
      <h3>Section 7: Directives Deep Dive</h3>
      <app-number></app-number>
      <h4>Observable</h4>
      <app-section-observable></app-section-observable>
    </div>
  </div>
</div>



